/* reset - css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.header {
  margin: 20px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.header__menu {
  display: flex;
}

.header__menu-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.header__menu-item:hover {
  background-color: #ef4444;
  color: white;
}

.header__input-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}